.detail {
  margin: 24px 60px;

  .header {
    display: flex;
    justify-content: space-between;

    &-title {
      font-weight: bold;
      font-size: 24px;
    }

    .post-text {
      color: #a09d9d;
      border-bottom: 1px solid #6c9fee;
      padding: 10px 20px;
      font-weight: 600;
      font-size: 17px;
    }

    .login-btn {
      background-color: #5b94ec;
      border: none;
      border-radius: 90px;
      padding: 0 26px;
      color: #fff;
      box-shadow: 0 4px 4px 0 rgba(172, 172, 172, 5%);
      cursor: pointer;
      line-height: 35px;
    }
  }

  .body {
    width: 40%;
    margin: 24px auto;
  }
}
