<div class="profile">
  <div class="header">
    <div class="header-title">Cinta Coding</div>
    <div class="post-text">Post</div>
    <div class="header-title" routerLink="/pages/profile" style="cursor: pointer;">Welcome, <span style="color: #5b94ed;">{{username}}</span></div>
  </div>
  <div class="body">
    <div style="cursor: pointer; margin-bottom: 10px;" routerLink="/pages/home">
      <img src="../.../../../../../assets/img/back.png" alt="" style="height: 20px;">
    </div>
    <div style="width: 70%; margin: 48px auto;">
      <div style="display: flex">
        <div style="width: 100px; display: flex; justify-content: space-between; margin-right: 40px;">Username  <span>: </span></div>
        <strong> {{profileDetail?.username}}</strong>
      </div>
      <div style="display: flex">
        <div style="width: 100px; display: flex; justify-content: space-between; margin-right: 40px;">Email  <span>: </span></div>
        <strong> {{profileDetail?.email}}</strong>
      </div>
      <div style="display: flex">
        <div style="width: 100px; display: flex; justify-content: space-between; margin-right: 40px;">Address  <span>: </span></div>
        <strong style="width: 200px;"> {{profileDetail?.address.city}}, {{profileDetail?.address.street}}, {{profileDetail?.address.suite}}, {{profileDetail?.address.zipcode}}</strong>
      </div>
      <div style="display: flex">
        <div style="width: 100px; display: flex; justify-content: space-between; margin-right: 40px;">Phone  <span>: </span></div>
        <strong>{{profileDetail?.phone}}</strong>
      </div>
    </div>
  </div>
</div>
